.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins

android/.project
android/.settings/org.eclipse.buildship.core.prefs
android/app/.classpath
android/app/.project
android/app/.settings/org.eclipse.buildship.core.prefs
android/app/bin/
ios/SquareReaderSDK.framework
ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
.vscode