.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins
.flutter-plugins-dependencies

android/.project
android/.settings/org.eclipse.buildship.core.prefs
android/app/.classpath
android/app/.project
android/app/.settings/org.eclipse.buildship.core.prefs
android/app/bin/
ios/flutter
ios/SquareReaderSDK.xcframework
ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
.vscode