.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock

build/
android/.project
.vscode/settings.json
android/.classpath
android/.settings/org.eclipse.buildship.core.prefs
.clang-format
android/bin
.vscode/launch.json

.idea/
