.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock

build/
android/.project
.vscode/settings.json
android/.classpath
android/.settings/org.eclipse.buildship.core.prefs
example/android/.project
example/android/.settings/org.eclipse.buildship.core.prefs
example/android/app/.classpath
example/android/app/.project
example/android/app/.settings/org.eclipse.buildship.core.prefs
