name: square_reader_sdk
description: A flutter plugin for Square Reader SDK.
version: 1.0.0
authors:
- Xiao Hu <xiao@squareup.com>
- Sarah Chavis <goblin@squareup.com>
- Mike Konopelski <mikek@squareup.com>
author: Square, Inc.
homepage: https://github.com/square/reader-sdk-flutter-plugin

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  built_value: ^6.1.4
  built_collection: ^4.0.0

dev_dependencies:
  build:
  build_runner:
  source_gen:
  built_value_generator:

# The following section is specific to Flutter.
flutter:
  plugin:
    androidPackage: com.squareup.sdk.reader.flutter
    pluginClass: SquareReaderSdkFlutterPlugin
