<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.squareup.readersdkflutterplugin">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Keep permission without max sdk limit to make them work with target sdk lower than 30 on devices with android 12 and 13 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- API 31+ -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>
